

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --bg-beige: #f4f0ec;
  --bg-contact_link: #222220;
  --bg-gray: #f8f8f8;
  --FontFamily: "Cabin", sans-serif;
  --hover-ligth-gray:#baab9e;
  --subtitle-Font-Size: 2.1rem;
}


html{
  font-size: 62.5%;
  font-family: 'Cabin', sans-serif;
  color: var(--bg-contact_link);
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 150px;
  background-color: var(--bg-gray);
  padding: 70px 0 70px 0;
}
.about {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  max-width: 50%;
}
.cp {
  background-image: url(./public/assets/img/post-4.jpg);
  width: 450px;
  height: 440px;
  background-repeat: no-repeat;
  background-size: 152%;
  background-position: bottom;
  border-radius: 15px;
}
.choose-us {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.cont-paragraph {
  display: flex;
  padding-right: 215px;
}
.our-best {
  margin: 10px 0;
  font-size: 2rem;
}
.cont-paragraph p {
  font-size: 1.6rem;
  margin-left: 20px;
}
.title1 {
  font-size: 2.9rem;
  letter-spacing: 1px;
}
.title {
  font-size: var(--subtitle-Font-Size);
  color: var(--bg-contact_link);
}
.contacts-link {
  background-color: var(--bg-contact_link);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 150px;
  border-radius: 15px;
  transition: all 0.2s ease;
}
.title-link {
  margin-top: 25px;
  font-size: 3.4rem;
  color: white;
}
.paragraph-link {
  font-size: 1.4rem;
  color: white;
}
.button-link {
  border: 1px solid white;
  background-color: var(--bg-contact_link);
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}
.button-link:hover {
  background-color: white;
  color: #222220;
}


/* seccion what twe do */

.what-we-do--section {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  font-size: 1.5rem;
  margin-bottom: 150px;
}

.titleWhat-we-do{
  transition: all 0.5s ease;
}
.whit-parrafo{
  transition: all 1s ease;
}
.ul-list-chequed{
  transition: all 0.2s ease;
}
.what-we-do--section h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.what-we-do--section .whit-parrafo{
  margin-bottom: 55px;
}
.what-we-do--section div ul{
  width: 209px;
  margin-left: 50px;
  text-align: start;
}
.what-we-do--section div ul li {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
}
.what-we-do--section div ul li p {
  margin-right: 15px;
}

.what-we-do--section div {
  display: flex;
}

/* Description container and children */

.Who-We-Are--Description {
  flex-direction: column;
  display: flex;
  justify-content: right;
  transition: all 0.5s ease;
}

.Who-We-Are--Description h1 {
  text-align: start;
  color: var(--bg-contact_link);
  font-size: 2.2rem;
}

.Who-We-Are--Container {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}
.Who-We-Are--Description p {
  text-align: start;
  width: 40ch;
  line-height: 20px;
  color: var(--bg-contact_link);
  font-size: 1.5rem;
  margin: 10px auto 0 auto;
}


  /*form*/

  .img-form-contact--Mensajes{
    height: 30px;
    cursor: pointer;
  }

  .Form-Contact--Container{
    margin: 0 auto;
    padding-left: 48px; ;
    max-width: 690px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 150px;
    position: relative;
  }
  .user-Data-Container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }
  .user-Data-Container div {
  width: 48%;
  height: 50px;  
  border-radius: 3px;
  }
  .Form-Contact--Container p {
    margin-bottom: 10px;
  }
  .user-Data-Container div input{
    width: 100%;
    height: 30px;
    padding: 0 5px;
    outline: none;
    border-radius: 3px;
    border:1px solid var(--hover-ligth-gray) ;
    
  }

  .message-Container  textarea{
    padding: 5px 5px;
    padding-bottom: 16px;
    border-radius: 3px;
    border:1px solid var(--hover-ligth-gray) ;
    outline: none;
    
    resize: none;
  }
  .message-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .message-Container button{
    background: var(--bg-contact_link);
    color: var(--bg-gray);
    font-family:var(--FontFamily) ;
    width: 150px;
    height: 39px;
    border-radius: 6px;
    border: none;
    margin: 20px auto;
    cursor: pointer;
    transition: all .5s ease;
  }
  .message-Container button:hover{
  background: var(--hover-ligth-gray);
  }

  .contenedor-De-Mensajes-gENERAL{
    position: absolute;
    transition: all 0.5s ease;
    top: 0px;
    left: 47px;
    width: 645px;
    font-size: 1.5rem;
    padding: 5px;
    background: #f4f0ec;
    box-shadow: 6px 7px 50px -35px rgba(0,0,0,0.75);
    
  }

  .img-form-contact--MensajesX{
    height: 30px;
    margin-left: 50%;
    cursor: pointer;
  }
  
  .contenedor-De-Mensajes-gENERAL-animation{ 
    opacity: 0;
    position: absolute;
    width: 0px;
    height: 0px;
  }

  /* section de Info Contact */

.Info-Contact--Container{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 0 auto;

  transition: all 0.5s ease;

  max-width: 650px;
  
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 150px;
  
  
}
.Info-Contact--Container section{
  display: flex;
  flex-direction: column;
}
.section-desplace{
transition: all 0.2s ease;
}
.Info-Contact--Container section h1{
  font-size: 2.3rem;
  margin-bottom:  17px ;
}
.Info-Contact--Container section h2{
  font-size: 1.5rem;
  margin-bottom: 10px ;
}

.Info-Contact--Container section a{
  color: var(--bg-contact_link);
  margin-bottom: 10px;
  transition: all 0.5s ease;
}
.Info-Contact--Container section a:hover{
  color: var(--hover-ligth-gray);
}
.Info-Contact--Container section p{
  margin-bottom: 5px;
}




/* Details container and children */

.Who-We-Are--Details {
  flex-direction: column;
  display: flex;
  margin-left: 20px;
  justify-content: left;
  transition: all 0.5s ease;
}
.Who-We-Are--Details h4{
    font-size: 1.6rem;
    width: 45ch;
    font-weight: 500;
    color: var( --bg-contact_link);
}
.Who-We-Are--Details p{
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    color: var( --bg-contact_link);
}
.Who-We-Are--Details ul li{
    font-size: 1.4rem;
    width: 50ch;
    margin-left: 30px;
    margin-top: 10px;
    color: var( --bg-contact_link);
}
.Who-We-Are--Details ul li::marker {
  content: "+     ";
  font-size: 1.8rem;
  color: var(--bg-contact_link);
}

/* Personal Attention Container */

.Personal-Attention--Container {
  background-color: var(--bg-beige);
  display: flex;
  margin-bottom: 150px;
  color: var(--bg-contact_link);
}
/* Personal Attention Img */
.Personal-Attention--img {
  display: flex;
  background-image: url("/public/assets/img/about-corporate-1@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 610px;
}




/* Personal Attention Details */
.Personal-Attention--Container section {
  margin-top: 30px;
}
.Personal-Attention--Container section h1 {
  font-size: var(--subtitle-Font-Size);
  margin: 20px 0 20px 40px;
}

.Personal-Attention--Container section p{
    font-size: 1.5rem;
    width: 47ch;
    margin-left: 40px;
}


/* animations */

.LadderAnimation {
  opacity: 0;
  transform: translate(0px ,70px);
}

.opacityAnimation {
opacity: 0;
}

/* inactive */
.inactive {
  display: none;
}

