* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --bg-beige: #f4f0ec;
  --bg-contact_link: #222220;
  --bg-gray: #f8f8f8;
  --FontFamily: "Cabin", sans-serif;
  --subtitle-Font-Size: 2.1rem;
}
html {
  font-size: 62.5%;
  font-family: "Cabin", sans-serif;
}
.buttons-navbar{
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 80px;
    justify-content: end;
    
    
 }
 .buttons-navbar.scrolled{
     background-position-y: 0%;
     transition: background-color 1.4s ease-in;
 }
 header nav{
     height: 80px;
 }
 .bg-nav{
     width: 100%;
     height: 80px;
     position: fixed;
     top: -80px;
     background: none;
     transition: .2s ease;
 }
 .bg-nav.scrolled{
    background-color: white ;
 }
 .buttons-navbar a{
     color: white;
     opacity: .5;
     text-decoration: none;
     margin: 0 10px;
     font-size: 1.4rem;
     background: none;
     border: none;
     cursor: pointer;
     transition: .2s ease;
 }
 .buttons-navbar a:hover{
     opacity: 1;
 }
 .buttons-navbar a.scrolled {
     color: black;
     opacity: 1;
     transition: color .2s ease-in;
 }
 .buttons-navbar a.scrolled:hover{
     opacity: .7;
 }
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  background-color: var(--bg-gray);
  padding: 70px 0 70px 0;
}
.about {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  max-width: 50%;
}
.cp {
  background-image: url(./public/assets/img/post-4.jpg);
  width: 450px;
  height: 440px;
  background-repeat: no-repeat;
  background-size: 152%;
  background-position: bottom;
  border-radius: 15px;
}
.choose-us {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.cont-paragraph {
  display: flex;
  padding-right: 215px;
}
.our-best {
  margin: 10px 0;
  font-size: 2rem;
}
.cont-paragraph p {
  font-size: 1.6rem;
  margin-left: 20px;
}
.title1 {
  font-size: 2.9rem;
  letter-spacing: 1px;
}
.title {
  font-size: var(--subtitle-Font-Size);
  color: var(--bg-contact_link);
}
.contacts-link {
  background-color: var(--bg-contact_link);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  gap: 20px;
  width: 70%;
  margin: 100px auto;
  border-radius: 15px;
}
.title-link {
  margin-top: 25px;
  font-size: 3.4rem;
  color: white;
}
.paragraph-link {
  font-size: 1.4rem;
  color: white;
}
.button-link {
  border: 1px solid white;
  background-color: var(--bg-contact_link);
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}
.button-link:hover {
  background-color: white;
  color: #222220;
}

/* Who we are container*/

.Who-We-Are--Container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
/* Description container and children */

.Who-We-Are--Description {
  flex-direction: column;
  display: flex;
  justify-content: right;
}
.Who-We-Are--Description h1 {
  text-align: start;
  color: var(--bg-contact_link);
  font-size: 2.2rem;
}
.Who-We-Are--Description p {
  text-align: start;
  width: 40ch;
  line-height: 20px;
  color: var(--bg-contact_link);
  font-size: 1.5rem;
  margin: 10px auto 0 auto;
}
/* Details container and children */

.Who-We-Are--Details {
  flex-direction: column;
  display: flex;
  margin-left: 20px;
  justify-content: left;
}
.Who-We-Are--Details h4{
    font-size: 1.6rem;
    width: 45ch;
    font-weight: 500;
    color: var( --bg-contact_link);
}
.Who-We-Are--Details p{
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    color: var( --bg-contact_link);
}
.Who-We-Are--Details ul li{
    font-size: 1.4rem;
    width: 50ch;
    margin-left: 30px;
    margin-top: 10px;
    color: var( --bg-contact_link);
}
.Who-We-Are--Details ul li::marker {
  content: "+     ";
  font-size: 1.8rem;
  color: var(--bg-contact_link);
}

/* Personal Attention Container */

.Personal-Attention--Container {
  background-color: var(--bg-beige);
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  color: var(--bg-contact_link);
}
/* Personal Attention Img */
.Personal-Attention--img {
  display: flex;
  background-image: url("/public/assets/img/about-corporate-1@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 610px;
}

/* Personal Attention Details */
.Personal-Attention--Container section {
  margin-top: 30px;
}
.Personal-Attention--Container section h1 {
  font-size: var(--subtitle-Font-Size);
  margin: 20px 0 20px 40px;
}

.Personal-Attention--Container section p{
    font-size: 1.5rem;
    width: 47ch;
    margin-left: 40px;
}
footer{
    position: relative;
    display: flex;
    margin-bottom: 60px;
    flex-direction: row;
    justify-content: center;
}
footer span img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    left: 0;
    cursor: pointer;
}

footer .Footer-Container-Text{
    position: absolute;
    font-size: 1.4rem;
    left: 10px;
    width: 380px;
}
footer .Footer-Container-Text h3{
    font-weight: 400;
    font-size: 1.4rem;
}
footer .Footer-Container-Text p{
    margin: 20px 0;
}
footer .Footer-Container-Sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem;
    width: 100px;   
}
footer .Footer-Container-Sections div{
    margin: 20px 0;
    font-size: 1.4rem;
}
footer .Footer-Container-Sections div p{
    margin: 8px 0;
    cursor: pointer;
}
footer .Footer-Container-Contacts{
    position: absolute;
    font-size: 1.6rem;
    width: 150px;
    right: 80px;
}
footer .Footer-Container-Contacts div{
    font-size: 1.4rem;
    margin: 20px 0;
}
.Footer-Line{
    position: absolute;
    bottom: -10px;
    width: 90%;
    height: 1px;
    background-color: var(--bg-gray);
}
footer .Footer-Policy{
    position: absolute;
    bottom: -40px;
    right : 50px;
}
footer section {
    position: absolute;
    bottom: -40px;
    left: 57px;
}
footer a{
    text-decoration: none;
    margin: 20px 20px 60px 20px;
    color: var(--bg-contact_link);
    font-size: 1.3rem;
}